<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" >


  <title>Partage de photographies amateurs</title>

  <link rel="stylesheet" type="text/css" href="./ui/css/bootstrap.css" />
  <link rel="stylesheet" media="screen" href="./ui/css/style.css" />
  <script type="text/javascript" src="./ui/js/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="./ui/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./ui/js/cycle.js"></script>
  <script type="text/javascript" src="./ui/js/si.files.js"></script>
</head>
<body>
	<div id="header">
			<div class="logoP">	
								<img src="./ui/img/logo1.png" width="300px" height="150px"/>
		</div>
	</div>
	<div id="slider" class="slider-home">
		
	<div class="fixed-width">



			<ul class="secondary-menu">
					<li><a href="shopping/cart/index.html">Mon panier</a></li>
									
							</ul>
			<!--<span class="headline">Explorateur de talents</span>-->


		<h1>Le site de vente de photo amateur en ligne</h1>

							
							
		<form action="http://PhotoAmateur.com/pictures/search" method="post" accept-charset="utf-8" class="search-field">			<input class="search" type="text" name="q" placeholder="Rechercher une photo ..." />
				

					
					
			<input class="search_submit" type="submit" name="" value="" />
		</form>

	</div>
	</div>
	<div id="main" class="main-home">
		<div class="main-top">
			<div class="fixed-width">
			<hr />
			<div class="introduce content">
				<ul class="categories-list">
											<li>
							<h3><a href="pictures/search/c/1/index.html">Animaux</a></h3>
							<a href="pictures/search/c/1/index.html"><img width="124px" height="112px" src="./ui/img/cat/1.jpg" /></a>
						</li>
											<li>
							<h3><a href="pictures/search/c/2/index.html">Architecture</a></h3>
							<a href="pictures/search/c/2/index.html"><img width="124px" height="112px" src="./ui/img/cat/2.jpg" /></a>
						</li>

											<li>
							<h3><a href="pictures/search/c/4/index.html">Mode</a></h3>
							<a href="pictures/search/c/4/index.html"><img width="124px" height="112px" src="./ui/img/cat/4.jpg" /></a>
						</li>
											
											<li>
							<h3><a href="pictures/search/c/6/index.html">Nature</a></h3>
							<a href="pictures/search/c/6/index.html"><img width="124px" height="112px" src="./ui/img/cat/6.jpg" /></a>
						</li>
											<li>
							<h3><a href="pictures/search/c/7/index.html">Portrait</a></h3>
							<a href="pictures/search/c/7/index.html"><img width="124px" height="112px" src="./ui/img/cat/7.jpg" /></a>
						</li>
											
											<li>
							<h3><a href="pictures/search/c/10/index.html">Urbain</a></h3>
							<a href="pictures/search/c/10/index.html"><img width="124px" height="112px" src="./ui/img/cat/10.jpg" /></a>
						</li>
									</ul>
				
				<div class="box-signup">
					<h2 class="subtitle"><span class="bold">Achetez</span> ou <span class="bold">vendez</span> des photos <span class="bold">uniques</span></h2>
					<p class="text">Créez dès à présent votre espace, pour découvrir toutes les fonctionnalités de PhotoAmateur</p>
					<a class="button signup" href="user/signup/index.html">Inscription</a>
				</div>
			</div>
			<hr />
			<ul class="steps content">
				<li>
					<span class="title">Partage</span>
					<p>Une nouvelle façon de partager vos photos sur internet. PhotoAmateur vous propose une plateforme gratuite, au service des photographes amateurs.</p>
				</li>
				<li>
					<span class="title">Découverte</span>
					<p>Un moyen simple et rapide, pour  découvrir les milliers de photographes amateurs sur internet, et acheter des oeuvres uniques.</p>
				</li>
				<li>
					<span class="title">Promouvoir</span>
					<p>PhotoAmateur met en avant des talents inconnus, qui feront les artistes de demain, qui auront la possiblité d'être produit.</p>
				</li>
				<li>
					<span class="title">Sécurité</span>
					<p>Toutes les photos restent la propriété de l'artiste, sous licence, et protégées contre leur téléchargement illégal.</p>
				</li>
			</ul>
			<hr />
			</div>
		</div>
		<div class="main-bottom fixed-width content">
			
		
		<br class="clear" />
	</div>
	
	
	<!-- Modal -->
		<script language="javascript">
		$(document).ready(function() {
		    $('#myModal').modal('show');
		});
	</script>
	
	<div id="footer">
		<div class="content fixed-width">
			<img class="logo-footer" src="./ui/img/logo_light.png" alt="" />
			<div class="item">
				<h4>Qui sommes nous ?</h4>
				<ul>
					<li><a href="page/presse/index.html">Espace presse</a></li>
					<li><a href="page/contact/index.html">Contact</a></li>
					<li><a href="page/about/index.html">A propos</a></li>
					<li><a href="page/paiement-sec/index.html">Paiement sécurisé</a></li>
				</ul>
			</div>
			<hr class="vertical" />
			<div class="item">
				<h4>Informations légales</h4>
				<ul>
					<li><a href="./app/views/page/protection-vie-privee/index.html">Charte de protection de la vie privée</a></li>
					<li><a href="./app/views/page/mentions-legales/index.html">Mentions légales</a></li>
					<li><a href="./app/views/page/conditions-particulieres/index.html">Conditions générales d'utilisation</a></li>
					<li><a href="./app/views/page/cgv/index.html">Conditions générales de vente</a></li>
				</ul>
			</div>
			<hr class="vertical" />
			<div class="item">
				<h4>Catégories</h4>
				<ul>
					<li><a href="pictures/timeline/index.html">Timeline</a></li>
					<li><a href="pictures/search/o/date/index.html">Nouveautés</a></li>
					<li><a href="pictures/search/o/top/index.html">Meilleures ventes</a></li>
					<li><a href="pictures/search/o/popular/index.html">Populaires</a></li>
				</ul>
			</div>
		</div>
	</div>
</html>
<!-- Localized -->