<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=8" >


  <title>Peexsell - Commande</title>

  <link rel="stylesheet" type="text/css" href="./ui/css/bootstrap.css" />
  <link rel="stylesheet" media="screen" href="./ui/css/style.css" />
  <script type="text/javascript" src="./ui/jquery-1.7.2.min.js"></script>
  <script type="text/javascript" src="./ui/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="./ui/js/cycle.js"></script>
  <script type="text/javascript" src="./ui/js/si.files.js"></script>
</head>
<body>
	<div id="header">
		<div class="content fixed-width">
			<a href="../../index.html"><img class="logo" src="./ui/img/logo.png" alt="Zikiloo" /></a>
			<ul class="secondary-menu">
					<li><a href="index.html">Mon panier</a></li>
									
							</ul>
			<span class="headline">Explorateur de talents</span>
			<ul class="menu">
				<li class="expansible">
					<a href="../../pictures/search/index.html">
						Catégories
					</a>
					<ul class="subcat">
						<li><a href='../../pictures/search/c/1/index.html'>Animaux</a></li><li><a href='../../pictures/search/c/2/index.html'>Architecture</a></li><li><a href='../../pictures/search/c/4/index.html'>Mode</a></li><li><a href='../../pictures/search/c/6/index.html'>Nature</a></li><li><a href='../../pictures/search/c/7/index.html'>Portrait</a></li><li><a href='../../pictures/search/c/10/index.html'>Urbain</a></li>					</ul>
				</li>
				
				
							</ul>
		</div>
	</div><div id="main" class="main-page">
	<div class="main-top fixed-width content">
		<h1>Votre panier</h1>
	</div>
	
	<div class="main-bottom fixed-width content">
		<form action="" method="post" accept-charset="utf-8">		<table class="table" cellpadding="6" cellspacing="1" style="width:100%" border="0">
		
		<tr>
		  <th>Qt</th>
		  <th>Description</th>
		  <th style="text-align:right">Prix</th>
		  <th style="text-align:right">Sous-total</th>
		</tr>
		
				
				
		<tr>
		  <td colspan="2"> </td>
		  <td class="right"><strong>Total</strong></td>
		  <td class="right"> €</td>
		</tr>
		
		</table>
		
		<p>
				    <a href="../../user/signup/index.html" class="btn" >Inscription</a>
		    <a href="../../user/login/index.html" class="btn" >Déjà inscrit</a>
				     <a href="../../pictures/search/index.html" class="btn" >Poursuivre les achats</a>
		</p>
		<img src="../../assets/img/bt/bt-paypal.gif" />
	</div>
</div><div id="footer">
		<div class="content fixed-width">
			<img class="logo-footer" src="../../assets/img/logo.png" alt="Zikiloo" />
			<div class="item">
				<h4>Qui sommes nous ?</h4>
				<ul>
					<li><a href="../../page/presse/index.html">Espace presse</a></li>
					<li><a href="../../page/contact/index.html">Contact</a></li>
					<li><a href="../../page/about/index.html">A propos</a></li>
					<li><a href="../../page/paiement-sec/index.html">Paiement sécurisé</a></li>
				</ul>
			</div>
			<hr class="vertical" />
			<div class="item">
				<h4>Informations légales</h4>
				<ul>
					<li><a href="../../page/protection-vie-privee/index.html">Charte de protection de la vie privée</a></li>
					<li><a href="../../page/mentions-legales/index.html">Mentions légales</a></li>
					<li><a href="../../page/conditions-particulieres/index.html">Conditions générales d'utilisation</a></li>
					<li><a href="../../page/cgv/index.html">Conditions générales de vente</a></li>
				</ul>
			</div>
			<hr class="vertical" />
			<div class="item">
				<h4>Catégories</h4>
				
			</div>
		</div>
	</div>
</html>
<!-- Localized -->